.grid-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.column-name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
